<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Pets Owners</title>
</head>
<body>
<h2 th:text="'ListsOfOwners'">Owners List...</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;" > Id</th>
        <th style="width: 150px;">FirstName</th>
        <th style="width: 150px;">LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">testName</td>
        <td th:text="${owner.lastName}">testLastName</td>
    </tr>
    </tbody>
</table>
</body>
</html>